<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Splitter </title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="background-color: black; margin: 0; border-color: black;" >
    <div style="display: flex; flex: 0 0 50px; background-color: yellow;">
        <p id="header"> SPLITTER </p>
    </div>
    <!-- {% if success %}
        <h1>Downloaded</h1>
    {% endif %} -->
    <div style="display: flex;">
        <form method="post" enctype="multipart/form-data" id="upload_form">
            <div id="left">
                <select name="choice" id="stems">
                    <option value="2"> 2 stems </option>
                    <option value="4"> 4 stems </option>
                    <option value="5"> 5 stems </option>
                </select>
                <input id="file" type="file" name="file" accept=".mp3, .wav" required>
                <button id="submit_button"> Submit </button>
            </div>
        </form>
        <div id="loader"></div>
        <div style="display:flex; flex-direction:column; gap: 10px;">
            <div class="stems" id="2">
                <div class="stem" id="vocals">
                    Vocal
                </div>
                <div class="stem" id="accompaniment">
                    Instrumental
                </div>
            </div>
            <div class="stems" id="4">
                <div class="stem" id="vocals">
                    Vocal
                </div>
                <div class="stem" id="drums">
                    Drums
                </div>
                <div class="stem" id="bass">
                    Bass
                </div>
                <div class="stem" id="other">
                    Other
                </div>
            </div>
            <div class="stems" id="5">
                <div class="stem" id="vocals">
                    Vocal
                </div>
                <div class="stem" id="drums">
                    Drums
                </div>
                <div class="stem" id="bass">
                    Bass
                </div>
                <div class="stem" id="piano">
                    Piano
                </div>
                <div class="stem" id="other">
                    Other
                </div>
            </div>
        </div>
    </div>
</body>
</html>